[submodule "3rd/i2c-tools"]
	path = 3rd/i2c-tools
	url = https://git.kernel.org/pub/scm/utils/i2c-tools/i2c-tools.git
[submodule "3rd/libev"]
	path = 3rd/libev
	url = https://github.com/enki/libev.git
[submodule "libgpiod"]
	path = libgpiod
	url = https://git.kernel.org/pub/scm/libs/libgpiod/libgpiod.git
	branch = v1.6.x
